.todos-view .todoitem {
    margin-top: 2em;
}
.category-view h1,
.todos-view .category h2 {
    border-top: 1px solid black;
    margin-top: 0.75em;
    padding-top: 0.5em;
}
.category-view .todoitem {
    margin-top: 2em;
}
.todoitem-view h1,
.category-view .todoitem h2 {
    border-top: 1px solid black;
    margin-top: 0.75em;
    padding-top: 0.5em;
}
